@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    background-color: hsl(0, 0%, 100%);
    font-family: 'Quicksand', sans-serif;
}

li a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: auto;
    height: 244px;
}

li {
    float: right;
    padding: 16px;
    font-size: 150%;
}

a:link {
    color: black;
}

a:hover {
    color: blue;
}

.myDiv1 {
    float: left;
    /* background-color: orange; */
}

.myDiv2 {
    float: right;
    /* background-color: brown; */
}

#p1f {
    color: black;
    padding-right: 190px;
    font-size: 50px;
    padding-left: 15%;
    padding-top: 240px;
    text-align: center;
    /* clear: both; */
    /* background-color: bisque; */
}

.fPara {
    text-align: center;
}

#fBttn {
    padding: 30px;
    font-size: 30px;
    margin-left: 540px;
    color: white;
    background-color: rgb(63, 113, 221);
    border: 1px white;
    border-radius: 20px;
    cursor: pointer;
    transition-duration: 0.6s;

}

#fBttn:hover {
    color: black;
    background-color: rgb(217, 222, 244);
}



/* page 2 css starts from here  */

#pgg2 {
    box-sizing: border-box;
}


.pg2h3 {
    text-align: left;
    background-color: hsl(0, 0%, 100%);
    margin-top: 0px;
    padding-left: 10px;
    box-shadow: 20px 20px 90px rgb(206, 204, 204);
}

 .column {
    /* float: left; */
    width: 46%;
    height: 300px;
    border: 1px white;
    border-radius: 9px;
    
 }
 .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .next-btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }


  #nxtbtn {
    border: 1px white;
    border-radius: 11px;
    font-size: 15px;
    padding: 10px;
    transition-duration: 0.4s;
  }

  #nxtbtn:hover {
    color: white;
    background-color: tomato;
  }
  
  .inrClmn {
    border-top: 2px tomato solid;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 20px 20px 90px rgb(206, 204, 204);
    padding-left: 10px;
  }

  .input-wrapper {
    margin: 10px 0px;
  }

  .input {
    padding: 5px;
    border-radius: 5px;
    border: 0.5px solid #000
  }

  .form-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 420px;
    padding: 15px;
  }

  .input-addrss {
    width: 400px;
  }