@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

body {
  background-color: hsl(0, 0%, 100%);
  font-family: "Quicksand", sans-serif;
}

li a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: auto;
  height: 244px;
}

li {
  float: right;
  padding: 16px;
  font-size: 150%;
}

a:link {
  color: black;
}

a:hover {
  color: blue;
}

.myDiv1 {
  float: left;
  /* background-color: orange; */
}

.myDiv2 {
  float: right;
  /* background-color: brown; */
}

#p1f {
  color: black;
  padding-right: 190px;
  font-size: 50px;
  padding-left: 15%;
  padding-top: 240px;
  text-align: center;
  /* clear: both; */
  /* background-color: bisque; */
}

.fPara {
  text-align: center;
}

#fBttn {
  padding: 30px;
  font-size: 30px;
  margin-left: 540px;
  color: white;
  background-color: rgb(63, 113, 221);
  border: 1px white;
  border-radius: 20px;
  cursor: pointer;
  transition-duration: 0.6s;
  text-decoration: none;
}

#fBttn:hover {
  color: black;
  background-color: rgb(217, 222, 244);
}

/* page 2 css starts from here  */

#pgg2 {
  box-sizing: border-box;
}

.pg2h3 {
  text-align: left;
  background-color: hsl(0, 0%, 100%);
  margin-top: 0px;
  padding-left: 10px;
  box-shadow: 20px 20px 90px rgb(206, 204, 204);
}

.column {
  /* float: left; */
  width: 46%;
  height: 300px;
  border: 1px white;
  border-radius: 9px;
}

.column2 {
  
  height: 700px;
  position: fixed; 
  right: 20px; 
  top: 0px; 
  z-index: 99; 
  overflow: auto;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.column2::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.next-btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#nxtbtn {
  color: white;
  background-color: rgb(63, 113, 221);
  border: 1px white;
  border-radius: 20px;
  cursor: pointer;
  transition-duration: 0.6s;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
  /* border: 1px white;
  border-radius: 11px;
  font-size: 20px;
  padding: 10px;
  transition-duration: 0.4s; */

}

#nxtbtn:hover {
  color: black;
  background-color: rgb(217, 222, 244);
  /* color: white;
  background-color: tomato; */
}

.inrClmn {
  border-top: #54AFE4 solid 1px;
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 10px;
  box-shadow: 20px 20px 90px rgb(206, 204, 204);
  padding-left: 10px;
}

.input-container {
  display: flex;
}
.input-container3 {
  display: flex;
}

.input-wrapper {
  margin: 10px 0px;
  margin-left: 20px;
}

.social-input {
  width: 250px;
  padding: 5px;
  border-radius: 5px;
  border: 0.5px solid #000;
}

.input {
  padding: 5px;
  border-radius: 5px;
  border: 0.5px solid #000;
  width: 300px;
}

.input-addrss {
  width: 96%;
}

.social-link {
  color: blue;
  cursor: pointer;
}

.input-container2 {
  display: flex;
  align-items: center;
}

.add-social-link {
  position: relative;
  z-index: 99;
}

.dlbtnclass {
  border: 1px white;
  border-radius: 11px;
  font-size: 15px;
  padding: 10px;
  margin-top: 20px;
  margin-left: 10px;
  
}
 
.dlbtnclass:hover {
  background-color: tomato;
}


.additional-coursework {
  color: blue;
  cursor: pointer;
}

.add-additional-coursework {
  position: relative;
  z-index: 99;
}

.addMore-skills {
  color: blue;
  cursor: pointer;
}

.add-addMore-skills {
  position: relative;
  z-index: 99;
}


.container {
  max-width: 700px;   
  background: #fff;
  margin: 0px auto 0px; 
  box-shadow: 1px 1px 2px #DAD7D7;
  border-radius: 3px;  
  padding: 40px;
  margin-top: 50px;
}

.header {
  margin-bottom: 30px;
  
  .full-name {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  
  .first-name {
    font-weight: 700;
  }
  
  .last-name {
    font-weight: 300;
  }
  
  .contact-info {
    margin-bottom: 20px;
  }
  
  .email ,
  .phone,
  .addr {
    color: #999;
    font-weight: 300;
  } 
  
  .separator {
    height: 10px;
    display: inline-block;
    border-left: 2px solid #999;
    margin: 0px 10px;
  }
  
  .position {
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
    text-decoration: underline;
  }
}


.details {
  line-height: 20px;
  
  .section {
    margin-bottom: 40px;  
  }
  
  .section:last-of-type {
    margin-bottom: 0px;  
  }
  
  .section__title {
    letter-spacing: 2px;
    color: #54AFE4;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
  .section__list-item {
    margin-bottom: 40px;
  }
  
  .section__list-item:last-of-type {
    margin-bottom: 0;
  }
  
  .left ,
  .right {
    vertical-align: top;
    display: inline-block;
  }
  
  .left {
    width: 60%;    
  }
  
  .right {
    tex-align: right;
    width: 39%;    
  }
  
  .name {
    font-weight: bold;
  }
  
  a {
    text-decoration: none;
    color: #000;
    font-style: italic;
  }
  
  a:hover {
    text-decoration: underline;
    color: #000;
  }
  
  
    
  .skills__item {
    margin-bottom: 10px;  
  }
  
  .skills__item .right {
    input {
      display: none;
    }
    
    label {
      display: inline-block;  
      width: 20px;
      height: 20px;
      background: #C3DEF3;
      border-radius: 20px;
      margin-right: 3px;
    }
    
    input:checked + label {
      background: #79A9CE;
    }
  }
}

.centerr {
  display: flex;
  justify-content: center;
  align-items: center;
}


.resume-list {
  margin-top: 50px;
  /* padding: 0px 100px; */
}

.resume-card {
  border-radius: 10px;
  cursor: pointer;
  width: 270px;
  height: 370px;
  margin: 70px 50px
}

.resume-card :hover {
  border-color: blue;
  border-radius: 10px;
  box-shadow: 20px 20px 90px rgb(206, 204, 204);
  transition-duration: 0.6s;
}

.resume-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.resume-img {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.imgs1 {
  background-image: url('./tmpls/PdfThumbnail1.jpeg');
}

.imgs2 {
  background-image: url('./tmpls/PdfThumbnail2.jpeg');
}

.imgs3 {
  background-image: url('./tmpls/PdfThumbnail5.jpg');
}

.imgs4 {
  background-image: url('./tmpls/PdfThumbnail4.jpeg');
}

#newnew {
  border-left: #54AFE4 solid 1px;
}
/* #54AFE4 solid 1px */
/* 2px rgb(172, 168, 167) solid */